
.table thead th.column-header:hover {
    color: #4183c4;
    cursor: pointer;
}
.clickable:hover {
    color: #4183c4;
    cursor: pointer;
}
.loaderWrapper {
    min-height: 85vh;
}

.tableWrapper {
    padding: 10rem 10rem 5rem 10rem;
}

